<ng-container *ngIf="userProfile$ | async as profile">
  <div class="sidebar-header">
    <div class="sidebar-header__photo">
      <img [src]="profile.picture" alt="" />
    </div>
    <div class="sidebar-header__info">
      <h3 class="name">{{ profile.fullname }}</h3>
      <span class="email">{{ profile.email }}</span>
    </div>
    <div class="sidebar-header__logout-button">
      <button mat-icon-button (click)="logout()">
        <mat-icon class="icon">exit_to_app</mat-icon>
      </button>
    </div>
  </div>
  <div class="sidebar-body"></div>
  {{ userProfile$ | async | json }}
</ng-container>
